body > .sprotty {
    height: calc(100vh - 22px);
    border: 3px solid #eee;
}

.sprotty-graph {
    height: 100%;
    width: 100%;
}

.sprotty-node.task {
    fill: #c0e0fc;
    stroke: #444;
    stroke-width: 1;
}

.sprotty-node.task.mouseover {
    stroke: #bebebe;
}

.sprotty-node.task.selected {
    stroke-width: 2;
}

.sprotty-node.task.running {
    fill: #b54949;
}

.sprotty-node.task.finished {
    fill: #81BB41;
}

.sprotty-edge {
    fill: none;
    stroke: #252525;
    stroke-width: 2px;
}

.sprotty-edge.mouseover {
    stroke: #949494;
}

.sprotty-routing-handle {
    fill: #bebebe;
    stroke: #949494;
    stroke-width: 2px;
}

text {
    stroke-width: 0;
    fill: #000;
    font-family: sans-serif;
    font-size: 10pt;
    text-anchor: middle;
}
